@font-face {
    font-family: 'Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
